<div fxLayout="column" fxLayoutGap="50px">

    <div>
        <mat-toolbar color="primary">Passwort ändern</mat-toolbar>
    
        <div class="PasswortEingabe">
            <mat-form-field>
                <input matInput [(ngModel)]="newPassword" placeholder="Passwort">
            </mat-form-field>
        <div fxLayout="column" fxLayoutGap="50px">
    </div>

</div>

<div fxLayout="column" fxLayoutGap="20px">
    <div>
        <mat-toolbar color="primary">Passwort ändern</mat-toolbar>
        <mat-expansion-panel color="primary">
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Neues Passwort eingeben:
                </mat-panel-title>
  
                <mat-panel-description>
                    Passwort
                </mat-panel-description>
            </mat-expansion-panel-header>
  
            <mat-form-field>
                <input matInput [(ngModel)]="newPassword" placeholder="Passwort">
            </mat-form-field>

        </mat-expansion-panel>

    </div>

    <!-- Hier noch Passworttoggle einfügen -->
    <mat-slide-toggle class="mat-slide-toggle">Passwort on/off</mat-slide-toggle>

    <div fxLayout="row">    
        <button mat-raised-button color="primary" (click)="goBack()">Zurück</button>
        <button mat-raised-button color="primary" (click)="setNewPassword()">Passwort ändern</button>
    </div>

</div>





