/* AppComponent's private CSS styles */
h1 {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #334953;
  }
  nav a:hover {
    color: #039be5;
    background-color: #cfd8dc;
  }
  nav a.active {
    color: #039be5;
  }

h3 {
  color: blue;
}

::ng-deep .mat-raised-button{
	width: 40%;
	left:10%;
	font-size:22px ;
  	padding: 5px 0px 5px !important;
}

::ng-deep .mat-toolbar{
	font-size:26px;
}

::ng-deep .mat-expansion-panel-header{
	font-size:20px;
}

::ng-deep .mat-form-field{
	font-size:18px;
}


::ng-deep .mat-slide-toggle{
	font-size:20px ;
}

::ng-deep .mat-card{
	font-size:20px ;
}

::ng-deep .mat-radio-button{
	font-size:25px ;
	margin-left:1rem;
}




