<mat-toolbar color="primary">Mat Tests</mat-toolbar>

<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>

  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
  
  
</div>
<mat-toolbar >App-Teil</mat-toolbar>
<router-outlet></router-outlet>
