   
<div><button (click)="changePassword()">Passwort ändern</button></div>
<div><button (click)="changeNavigation()">Navigation wählen</button></div>
<div><button (click)="changeContacts()">Kontakte einstellen</button></div>
<div><button (click)="changeHomeAdress()">Heimatadresse einstellen</button></div>
<div><button (click)="changeRadius()">Radius einstellen</button></div>
<div><button (click)="changeTimer()">Timer einstellen</button></div>
<div><button (click)="changeCheckInterval()">Zeitintervall einstellen</button></div>
<div><button (click)="backToHome()">Zurück</button></div>
      
      

