   
<div><button (click)="changePassword()">Passwort ändern</button></div>
<div><button (click)="changePassword()">Navigation wählen</button></div>
<div><button (click)="changePassword()">Kontakte einstellen</button></div>
<div><button (click)="changeHomeAdress()">Heimatadresse einstellen</button></div>
<div><button (click)="changePassword()">Radius einstellen</button></div>
<div><button (click)="changePassword()">Uhr einstellen</button></div>
<div><button (click)="changePassword()">Zeitintervall einstellen</button></div>
      
      

