
<div fxLayout="column" fxLayoutGap="30px">

        <div class="header">
            <mat-toolbar color="primary">Synchronisierungsintervall</mat-toolbar>
            <mat-card>Das derzeitige Synchronisierungsintervall beträgt {{ checkInterval }} Minuten</mat-card>
        </div>
    
        <div class="Synchronisierungsintervall">
             <mat-form-field>
                <input matInput [(ngModel)]="checkInterval" placeholder="Synchronisierungsintervall">
             </mat-form-field>
        </div>
    
        <div class="Fortfahren">
            <button mat-raised-button color="primary" (click)="goBack()">Zurück</button>
            <button mat-raised-button color="primary" (click)="setCheckInterval()">Fortfahren</button> 
       </div>
    
 </div>