<div>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <input type="image" (click)="settingsClick()" src="assets/Icons/setting_icon.png" />
      <button class="btn" (click)="bringMeHome()" type="button"> Bring mich nach Hause! </button>
      <button class="btn" (click)="calendarClick()" type="button"> Kalender! </button>
      <input type="image" src="assets/Icons/calendar_icon.png" />
      <input type="image" src="assets/Icons/home_icon.png" /> 
    </div>   
  </div> 