.Settings{
  	display: flex;
  	flex-direction: row; 
  	flex-wrap: nowrap; 
}

.Calendar{

  	display: flex;
  	flex-direction: row; 
  	flex-wrap: nowrap 
}

.Orientation{
  	display: flex;
  	flex-direction: row; 
  	flex-wrap: nowrap;
	  
}

.mat-icon{
 	flex: 1; 
  	transform: scale(3);
} 

.mat-raised-button{
 	flex: 2; 
	font-size:26px !important;
    	width:75% !important;
	height: 10% !important;

}

.Zahnrad{
	position: absolute !important;
	top: 15% !important;
	left: 75% !important;
  	transform: scale(1.5);
}

.HomeIcon{
	position: absolute !important;
	top: 35% !important;
	left: 6% !important;
}

.BringMeHome{
	position: absolute !important;
	top: 33% !important;
	left: 23% !important;
}

.CalendarIcon{
	position: absolute !important;
	top: 60% !important;
	left: 6% !important;
}

.CalendarTab{
	position: absolute !important;
	top: 58% !important;
	left: 23% !important;
}




