<div fxLayout="column" >

  <mat-toolbar color="primary">Orientierung 2 Go</mat-toolbar>

  <div class="Settings" >
    <a mat-icon-button class="Zahnrad" (click)="settingsClick()" aria-label="Settings"><mat-icon>settings</mat-icon></a>

  </div>
  
  <div class="Orientation">
    <a mat-icon-button class="HomeIcon"(click)="bringMeHome()" aria-label="Home"><mat-icon>home</mat-icon></a>
    <div><button mat-raised-button class="BringMeHome" color="primary" (click)="bringMeHome()" type="button"> Bring mich nach Hause</button></div> 

  </div>

  <div class="Calendar" >
    <a mat-icon-button class="CalendarIcon" (click)="calendarClick()" aria-label="Calendar"><mat-icon>calendar_today</mat-icon></a>
    <div><button mat-raised-button  class="CalendarTab"color="primary" (click)="calendarClick()" type="button"> Kalender </button></div>
  
  </div>


   <!-- fxLayoutAlign="end " fxLayoutGap="70px" fyLayoutGap="70px"  fxLayout="row" fxLayoutGap="70px" -->
</div> 
