

.Settings{
  	display: flex;
  	flex-direction: row; 
  	flex-wrap: nowrap 
}

.Calendar{
  	display: flex;
  	flex-direction: row; 
  	flex-wrap: nowrap 
}

.Orientation{
  	display: flex;
  	flex-direction: row; 
  	flex-wrap: nowrap;
	  
}

.mat-icon{
 	flex: 1; 
	margin-left: 2rem;
 	font-size:80px;
	padding: 20px 25px 20px;

} 

.mat-raised-button{
 	flex: 2; 
	margin-left: 8rem !important;
	font-size:28px !important;
    	width:400px !important;
  	padding: 20px 15px 20px !important;

}


