<div fxLayout="column" fxLayoutGap="30px">
    <div *ngIf=!hasPassword class="EingabePasswort" fxLayout="column" fxLayoutGap="20px">
        <mat-toolbar color="primary">Passwort eingeben</mat-toolbar>
  
        <div class="Passwort">
         <mat-form-field>
            <input matInput [(ngModel)]="user" placeholder="Passwort">
         </mat-form-field>
        </div>

    </div>

    <div class="Fortfahren">
        <button mat-raised-button color="primary"  routerLink="/home">Zurück</button>
        <button mat-raised-button color="primary" (click)="checkInput()">Fortfahren</button> 
   </div>
      
</div>